body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

.header {
	padding-top: 1.5%;
	margin: 0 3% 0 3%;
}

.nav {
	display: flex;
	align-items: center;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	margin-left: 8px;
}

.logoimg {
	height: 42px;
	width: 36px;
}

.menu {
	display: flex;
	margin-left: auto;
}

.menu li a {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px; 
}

.menu li {
	margin-right: 25px;
	list-style-type: none;
}

#home, #stories {
	color: #000;
}

#register, #signin {
	color: #333;
}

#profile {
	color: #778C79;
}

.register {
	font-family: 'Open Sans', sans-serif;
	justify-content: center;
	align-items: center; 
	display: flex;
	height: 35em;
}

.register-form {
	width: 30em;
	padding: 2em;
	border-radius: 2em;
	box-shadow: 0 0.3em 2em 0 rgba(0, 0, 0, 0.1);
}

.register-title {
	text-align: center;
	margin: 0 0 2em 0;
}
.form-group {
	position: relative;
	margin-bottom: 2em;	
	text-align: center;
}

.form-label {
	position: absolute;
	padding-left: 2.7em;
	display: flex;
	top: 0;
	z-index: -1;
	color: #9EAFA0;
	transition: 0.6s;
}

.form-input {
	width: 80%;
	border: none;
	border-bottom: 0.1em solid #778C79;
	background-color: transparent;
	outline: none;
	transition: 0.6s;
}

.form-input:focus {
	border-bottom: 0.1em solid #333333;
}

#register-button {
	margin: 0 auto;
	display: flex;
	border: none;
	cursor: pointer;
	border-radius: 1.5em;
	color: #fff;
	background-color: #B25B4F;
	padding: 1em 2em;
	transition: 0.6s;
}

button:focus, button:hover {
	background-color: #C66F5E;
}

.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown) ~ .form-label {
	top: -1.8em;
	font-size: 0.7em;
	padding-left: 3.7em;
}

@media print {
	header, button {
		display: none;
	}
}

















